.title {
  font-size: 1.5rem;
  color: #FF9E68;
  text-align: center
}

.model {
  filter: saturate(120%);
}

.ty {
  width: 100%;
}

.container {
  padding: 2rem 1rem;
}

.text {
  color: white;
  line-height: 1.5;
  font-size: 1.2em;
  font-weight: 600;
  max-width: 420px;
  margin: 0 auto;
  margin-top: -12vw;
}

.text p:nth-child(n+2) {
  color: rgba(255, 255, 255, .5);
}

.signature {
  font-size: 1rem;
  font-weight: 500;
}